body {
  margin: 1em;
  padding: 1em;
  background: #EEE;
}

.pre-requisite {
  background: #DDD;
  margin: 2em;
  padding: 0.5em;
}

.diagram {
  background: #DDD;
  border: 1px black solid;
  margin: 0.5em;
  padding: 2em;
}

.shadow {
  -moz-box-shadow: 3px 3px 4px #777;
  -webkit-box-shadow: 3px 3px 4px #777;
  box-shadow: 3px 3px 4px #777;
}

.pre-req-img {
  vertical-align: middle;
}
