body {
  background-image:      url(/images/awesome-ivr-official-seal-a6.7.png);
  background-repeat:     no-repeat;
  background-attachment: fixed;
  background-position:   center; 
  opacity: 25%;
  background-color: #DFD;
}

#header {
  height: 100px;
  padding: 0.25em;
  margin: 0.25em;
}

#footer {
  display: block;
  text-align: center;
}

#left-bar {
  padding: 3px;
  margin: 0.25em;
}

#main-content {
  border: 1px solid #CCC;
  padding: 3px;
  margin: 0.25em;
}

#error-flash {
  color: red;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.workflow-graph {
}

#logo {
  width: 640px;
  display: block;
}

.workflow-graph img {
  width: 100px;
  border: 2px solid #777;
  padding: 0.25em;
  display: block;
}

#active-sessions {
  border: 1px solid #CCC;
  padding: 0.67em;
}

#registered-workflows {
  border: 1px solid #CCC;
  padding: 0.67em;
}

.conversation-container {
  margin-top: 2em;
}

#conversation {
  padding: 1em;
}

.empty-conversation {
  font-size: 1.5em;
  color: #777;
  text-align: center;
}

.workflow-error-message {
  color: #F44;
  font-style: bold;
}

.twml-say {
  font-size: 2em;
  font-style: bold;
}
