<% content_for :js do %>
  <%= javascript_include_tag 'console' %>
<% end %>

<div class="line">
  <div class="unit size1of3">
    list of active sessions goes here
  </div>
  <div class="unit size2of3">
    details of selected session goes here
  </div>
</div>
