<% content_for :js do %>
  <%= javascript_include_tag 'console' %>
<% end %>

<div class="line">
  <div id="active-sessions" class="unit size1of3">
  </div>
  <div class="unit size2of3">
    details of selected session goes here,
    after you click the session
  </div>
</div>
