<% content_for :js do %>
  <%= javascript_include_tag 'console' %>
<% end %>

<div class="line">
  <div id="left-bar" class="unit size1of4">
    <div id="registered-workflows">
      <h3>Workflows</h3>
      <% Ivrflow.registered_ivr_flows.each do |name,cfg| %>
        <div><%= link_to name, :controller => :workflow, :action => :show, :id => name %> </div>
      <% end %>
    </div>
    <div id="sessions-list">
      <h3>Active Sessions</h3>
      <div id="active-sessions"> </div>
    </div>
  </div>
  <div id="main-content" class="unit size3of4 lastUnit">
    <p>
    Welcome to your <u>Awesome</u> IVR!
    </p>
    <p>
    You can interact with one of the IVR flows by
    clicking on it's name over there on the left.
    </p>
    <p>
    You can spy on active sessions by clicking on 
    one of the phone numbers (on the left beneath the 
    workflows).  There may not be any if no one is
    using the system.
    </p>
  </div>
</div>
</div>
